*.o
*.dSYM
*.csv
*.out
*.png
*.jpg
*.pyc
*.txt
*.weights
old/
mnist/
data/
caffe/
grasp/
images/
opencv/
convnet/
decaf/
submission/
cfg/
darknet
.fuse*

# OS Generated #
._*
_*
_.*
.DS_Store*
ehthumbs.db
Icon?
Thumbs.db
*.swp
